:root {
  --font-family: system-ui, -apple-system, "Segoe UI", "Helvetica", "Roboto", "Ubuntu",
    "Cantarell", "Oxygen-Sans", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --line-height: 1.6;
  --font-size: 1rem;
  --font-small: 0.85rem;
  --border-radius: 0.25rem;
  --border-width: 1px;
  --outline-width: 3px;
  --spacing: 1rem;
  --typography-spacing-vertical: 1.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --transition: 0.2s ease-in-out;
  --modal-overlay-backdrop-filter: blur(0.25rem);
  --background-color: hsl(205, 17%, 20%);
  --background-color-darker: hsl(205, 17%, 10%);
  --color: hsl(205, 16%, 80%);
  --red: hsl(0, 50%, 60%);
  --h1-color: hsl(205, 20%, 74%);
  --h2-color: #b3c2cc;
  --h3-color: hsl(205, 18%, 76%);
  --h4-color: #aab9c3;
  --h5-color: hsl(205, 16%, 67%);
  --h6-color: #a0aeb9;
  --muted-color: hsl(205, 10%, 50%);
  --muted-border-color: #108DBC;
  --primary: hsl(195, 85%, 41%);
  --primary-hover: hsl(195, 80%, 50%);
  --primary-focus: rgba(16, 149, 193, 0.25);
  --primary-inverse: #fff3f1;
  --secondary: hsl(205, 15%, 41%);
  --secondary-hover: hsl(205, 10%, 50%);
  --secondary-focus: rgba(115, 130, 140, 0.25);
  --secondary-inverse: #fff3f1;
  --link-visited: #94758c;
  --link-visited-hover: #c898bc;
  --contrast: hsl(205, 20%, 74%);
  --contrast-hover: #fff3f1;
  --contrast-focus: rgba(115, 130, 140, 0.25);
  --contrast-inverse: #2d2d2d;
  --mark-background-color: #af8f79;
  --mark-color: #222a30;
  --ins-color: hsl(75, 70%, 22%);
  --del-color: hsl(0, 75%, 13%);
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --switch-background-color: #374956;
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --range-border-color: #24333e;
  --range-active-border-color: hsl(205, 25%, 23%);
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: rgba(115, 130, 140, 0.05);
  --code-background-color: #1d2931;
  --code-color: var(--muted-color);
  --code-size: calc(var(--font-size) * 0.8);
  --code-weight: 400;
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: hsl(330, 30%, 50%);
  --code-property-color: hsl(185, 30%, 50%);
  --code-value-color: hsl(40, 10%, 50%);
  --code-comment-color: #4d606d;
}

body {
  font-family: var(--font-family);
  color: var(--color)
}

.remark-slide-content {
    background-color: var(--background-color);
}
h1,
h2,
h3 {
  font-family: var(--font-family);
  font-weight: 400;
  margin-bottom: 0;
  color: var(--h1-color);
}
.remark-slide-content h1 {
  font-size: 3em;
  color: var(--h1-color);
}
.remark-slide-content h2 {
  font-size: 2em;
  color: var(--h2-color);
}
.remark-slide-content h3 {
  font-size: 1.6em;
  color: var(--h3-color);
}
.footnote {
  position: absolute;
  bottom: 3em;
}

ul li {
  list-style-type: "―";
  padding-left: 0.6rem;
  line-height: 1.25em;
}

ol li {
  margin-left: 1.35rem;
  padding-left: 0.4rem;
}
.red {
  color: var(--red);
}
.large {
  font-size: 2em;
}
a,
a > code {
  color: var(--primary);
  text-decoration: none;
}
code {
  background: var(--code-background);
  border-radius: 5px;
}
.remark-code,
.remark-inline-code {
  font-family: "Hack Nerd Font Mono";
  font-size: var(--code-size);
  background-color: var(--mark-color)
}
.remark-code-line-highlighted {
  background-color: var(--mark-color);
}

.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.inverse {
  background: var(--background-color-darker);
  color: var(--contrast);
  text-shadow: 0 0 20px #333;
}
.inverse h1,
.inverse h2 {
  color: var(--color);
  line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top: 151px;
  right: 140px;
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first,
#slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type,
.left-column h3:last-child {
  color: var(--primary);
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

/* presenter notes */
.remark-notes-area {
    background: var(--background-color);
    color: var(--color);
}
