:root {
  --font-family: system-ui, -apple-system, "Segoe UI", "Helvetica", "Roboto", "Ubuntu",
    "Cantarell", "Oxygen-Sans", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --line-height: 1.6;
  --font-size: 1rem;
  --font-small: 0.85rem;
  --border-radius: 0.25rem;
  --border-width: 1px;
  --outline-width: 3px;
  --spacing: 1rem;
  --typography-spacing-vertical: 1.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --transition: 0.2s ease-in-out;
  --modal-overlay-backdrop-filter: blur(0.25rem);
  --background-color: #2c373f;
  --color: hsl(205, 16%, 67%);
  --h1-color: hsl(205, 20%, 74%);
  --h2-color: #b3c2cc;
  --h3-color: hsl(205, 18%, 76%);
  --h4-color: #aab9c3;
  --h5-color: hsl(205, 16%, 67%);
  --h6-color: #a0aeb9;
  --muted-color: hsl(205, 10%, 50%);
  --muted-border-color: #108DBC;
  --primary: hsl(195, 85%, 41%);
  --primary-hover: hsl(195, 80%, 50%);
  --primary-focus: rgba(16, 149, 193, 0.25);
  --primary-inverse: #fff3f1;
  --secondary: hsl(205, 15%, 41%);
  --secondary-hover: hsl(205, 10%, 50%);
  --secondary-focus: rgba(115, 130, 140, 0.25);
  --secondary-inverse: #fff3f1;
  --link-visited: #94758c;
  --link-visited-hover: #c898bc;
  --contrast: hsl(205, 20%, 74%);
  --contrast-hover: #fff3f1;
  --contrast-focus: rgba(115, 130, 140, 0.25);
  --contrast-inverse: #2d2d2d;
  --mark-background-color: #af8f79;
  --mark-color: #222a30;
  --ins-color: hsl(75, 70%, 22%);
  --del-color: hsl(0, 75%, 13%);
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);
  --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --switch-background-color: #374956;
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --range-border-color: #24333e;
  --range-active-border-color: hsl(205, 25%, 23%);
  --range-thumb-border-color: var(--background-color);
  --range-thumb-color: var(--secondary);
  --range-thumb-hover-color: var(--secondary-hover);
  --range-thumb-active-color: var(--primary);
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: rgba(115, 130, 140, 0.05);
  --code-background-color: #1d2931;
  --code-color: var(--muted-color);
  --code-size: calc(var(--font-size) * 0.8);
  --code-weight: 400;
  --code-kbd-background-color: var(--contrast);
  --code-kbd-color: var(--contrast-inverse);
  --code-tag-color: hsl(330, 30%, 50%);
  --code-property-color: hsl(185, 30%, 50%);
  --code-value-color: hsl(40, 10%, 50%);
  --code-comment-color: #4d606d;
}

.remark-code {
    font-size: var(--code-size);
}

.remark-slide-content {
  background-color: var(--background-color);
  font-size: var(--font-size);
}


body {
  background-color: var(--background-color);
  color: #ddd;
  font-family: Inter Medium;
}

.remark-slide-content h1, h2, h3, h4 {
  padding-bottom: 2rem;
}

.remark-slide-content h1 {
  font-size: 4rem;
}

.remark-slide-content h2 {
    font-size: 3rem;
}

.remark-slide-contenth3 { 
  font-size: 2rem; 
}

ul li {
  list-style-type: "―";
  padding-left: 0.6rem;
}

ol li {
  margin-left: 1.35rem;
  padding-left: 0.4rem;
}

pre code {
  color: var(--color);
  font-size: 1rem;
  font-family: Hack Nerd Font Mono;
}

.keyword {
  color: #0086b3 !important;
  font-weight: inherit !important;
}

.tag {
  color: #900 !important;
}

code {
  background-color: var(--code-background-color);
  color: var(--code-color);
}

pre,
code,
kbd,
samp {
  font-size: 0.875em;
  font-family: var(--font-family);
}

pre {
  -ms-overflow-style: scrollbar;
  overflow: auto;
}

pre,
code,
kbd {
  border-radius: var(--border-radius);
  background: var(--code-background-color);
  color: var(--code-color);
  font-weight: var(--code-weight);
  line-height: initial;
}

code,
kbd {
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

pre {
  display: block;
  margin-bottom: var(--spacing);
  overflow-x: auto;
}
pre > code {
  display: block;
  padding: var(--spacing);
  background: none;
  font-size: 14px;
  line-height: var(--line-height);
}

code b {
  color: var(--code-tag-color);
  font-weight: var(--code-weight);
}
code i {
  color: var(--code-property-color);
  font-style: normal;
}
code u {
  color: var(--code-value-color);
  text-decoration: none;
}
code em {
  color: var(--code-comment-color);
  font-style: normal;
}
em {
  border-bottom: 1px solid var(--blockquote-border-color); 
}


/* Layout */

blockquote {
  display: block;
  color: var(--secondary);
  margin: var(--typography-spacing-vertical) 0;
  padding-left: var(--spacing);
  padding-bottom: calc(var(--spacing) * 0.15);
  padding-top: calc(var(--spacing) * 0.15);
  border-right: none;
  border-left: 0.25rem solid var(--blockquote-border-color);
  border-inline-start: 0.25rem solid var(--blockquote-border-color);
  border-inline-end: none;
}

